@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
/* Always visible thin scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  height: 6px; /* Thin horizontal scrollbar */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Optional: transparent track */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #1e3a8a; /* Dark blue */
  border-radius: 10px; /* Optional: rounded corners */
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6; /* Lighter blue when hovering over the thumb */
}
